<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include ('partials/head.html')%>
</head>
<body class="body-videos">
    <%- include ('partials/navigation.html')%>
    
    <div class="container showcase">
        <iframe width="730" height="500" src="https://www.youtube.com/embed/hJSqi9BHMrg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="video"></iframe>
    </div>

    <%- include ('partials/footer.html')%>
</body>
</html>